/* =========================
   GLOBAL BACKGROUND
========================= */

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #722828;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;

    background:
        linear-gradient(
           rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.20)
        ),
        url("./assets/main-img.png");

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    pointer-events: none;

    background:
        radial-gradient(circle at top right,
            rgba(255, 180, 70, 0.18),
            transparent 40%),

        linear-gradient(
            120deg,
            rgba(0,0,0,.40),
            rgba(0,0,0,.18)
        );
}


body::after {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -2;
    pointer-events: none;

    background:
        radial-gradient(
            circle at bottom right,
            rgba(255,170,60,.20),
            transparent 35%
        );

    filter: blur(120px);
}